.anim-noMove-hop {
  animation-name: hop;
  animation-duration: 0.5s;
}

@keyframes hop {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(calc(-100%/2));
  }
  100% {
    transform: none;
  }
}
.anim-deselect-shrink {
  animation-name: shrink;
  animation-duration: 1s;
  left: 0px;
}

@keyframes shrink {
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.anim-select-bigShrink {
  animation-name: bigShrink;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes bigShrink {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.anim-deselect-topLeft {
  animation-name: slideout-topLeft;
  animation-duration: 0.5s;
  left: 0;
}

.anim-select-topLeft {
  animation-name: slidein-topLeft;
  animation-duration: 0.5s;
}

@keyframes slidein-topLeft {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: none;
  }
}
@keyframes slideout-topLeft {
  100% {
    transform: translate(-100%, -100%);
  }
}
.anim-deselect-topRight {
  animation-name: slideout-topRight;
  animation-duration: 0.5s;
  left: 0;
}

.anim-select-topRight {
  animation-name: slidein-topRight;
  animation-duration: 0.5s;
}

@keyframes slidein-topRight {
  0% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: none;
  }
}
@keyframes slideout-topRight {
  100% {
    transform: translate(100%, -100%);
  }
}
.anim-deselect-bottomRight {
  animation-name: slideout-bottomRight;
  animation-duration: 0.5s;
  left: 0;
}

.anim-select-bottomRight {
  animation-name: slidein-bottomRight;
  animation-duration: 0.5s;
}

@keyframes slidein-bottomRight {
  0% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: none;
  }
}
@keyframes slideout-bottomRight {
  100% {
    transform: translate(100%, 100%);
  }
}
.anim-deselect-bottomLeft {
  animation-name: slideout-bottomLeft;
  animation-duration: 0.5s;
  left: 0;
}

.anim-select-bottomLeft {
  animation-name: slidein-bottomLeft;
  animation-duration: 0.5s;
}

@keyframes slidein-bottomLeft {
  0% {
    transform: translate(-100%, 100%);
  }
  100% {
    transform: none;
  }
}
@keyframes slideout-bottomLeft {
  100% {
    transform: translate(-100%, 100%);
  }
}
.anim-noMove-wiggle {
  animation-name: wiggle;
  animation-duration: 0.5s;
}

@keyframes wiggle {
  0% {
    transform: translateX(20px);
  }
  20% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(20px);
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
.anim-select-rotate {
  animation-name: enter-rotate;
  animation-duration: 0.5s;
}

@keyframes enter-rotate {
  0% {
    transform: rotateX(270deg);
  }
  50% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.anim-deselect-rotate {
  animation-name: exit-rotate;
  animation-duration: 0.5s;
  left: 0px;
}

@keyframes exit-rotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}

/*# sourceMappingURL=extraAnimations.css.map */
