.anim-noMove-hop {
  -webkit-animation-name: hop;
          animation-name: hop;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes hop {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(calc(-100%/2));
            transform: translateY(calc(-100%/2));
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes hop {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(calc(-100%/2));
            transform: translateY(calc(-100%/2));
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
.anim-deselect-shrink {
  -webkit-animation-name: shrink;
          animation-name: shrink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  left: 0px;
}

@-webkit-keyframes shrink {
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes shrink {
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.anim-select-bigShrink {
  -webkit-animation-name: bigShrink;
          animation-name: bigShrink;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes bigShrink {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bigShrink {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.anim-deselect-topLeft {
  -webkit-animation-name: slideout-topLeft;
          animation-name: slideout-topLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  left: 0;
}

.anim-select-topLeft {
  -webkit-animation-name: slidein-topLeft;
          animation-name: slidein-topLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes slidein-topLeft {
  0% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slidein-topLeft {
  0% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes slideout-topLeft {
  100% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
}
@keyframes slideout-topLeft {
  100% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
}
.anim-deselect-topRight {
  -webkit-animation-name: slideout-topRight;
          animation-name: slideout-topRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  left: 0;
}

.anim-select-topRight {
  -webkit-animation-name: slidein-topRight;
          animation-name: slidein-topRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes slidein-topRight {
  0% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slidein-topRight {
  0% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes slideout-topRight {
  100% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
}
@keyframes slideout-topRight {
  100% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
}
.anim-deselect-bottomRight {
  -webkit-animation-name: slideout-bottomRight;
          animation-name: slideout-bottomRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  left: 0;
}

.anim-select-bottomRight {
  -webkit-animation-name: slidein-bottomRight;
          animation-name: slidein-bottomRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes slidein-bottomRight {
  0% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slidein-bottomRight {
  0% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes slideout-bottomRight {
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}
@keyframes slideout-bottomRight {
  100% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
}
.anim-deselect-bottomLeft {
  -webkit-animation-name: slideout-bottomLeft;
          animation-name: slideout-bottomLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  left: 0;
}

.anim-select-bottomLeft {
  -webkit-animation-name: slidein-bottomLeft;
          animation-name: slidein-bottomLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes slidein-bottomLeft {
  0% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes slidein-bottomLeft {
  0% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes slideout-bottomLeft {
  100% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
}
@keyframes slideout-bottomLeft {
  100% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
}
.anim-noMove-wiggle {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  20% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  40% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  60% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  20% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  40% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  60% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.anim-select-rotate {
  -webkit-animation-name: enter-rotate;
          animation-name: enter-rotate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes enter-rotate {
  0% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
  }
  50% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes enter-rotate {
  0% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
  }
  50% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}
.anim-deselect-rotate {
  -webkit-animation-name: exit-rotate;
          animation-name: exit-rotate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  left: 0px;
}

@-webkit-keyframes exit-rotate {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes exit-rotate {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

/*# sourceMappingURL=extraAnimations.css.map */