$carousel-width: 100%;
$carousel-height: 60vh;

.carouselContainer {
  width: $carousel-width;
  height: $carousel-height;
//allows carousel elements to be positioned relative to the container
  position: relative;
//hides images not in view
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index:2;
}

.carouselImage {
position: absolute;
width: 100%;
height: 100%;
// //images hidden to right of container by default
left:100%;
}
//must be below .carouselImage to overwrite left property when this class is added
.selected {
left: 0px;
}

//svg path must have css properties, not visible by default
.path {
fill: rgba(0,0,0,0.5);
}

//default animation classes
$listMap: (
"top":translateY(-100%),
"right":translateX(100%),
"bottom":translateY(100%),
"left":translateX(-100%)
);

@each $direction, $translation in $listMap {
  .anim-deselect-#{$direction} {
    animation-name: slideout-#{$direction};
    animation-duration: 0.5s;
    //fixes frame of reference as class changes during animation
    left:0;
  }

  .anim-select-#{$direction} {
    animation-name: slidein-#{$direction};
    animation-duration: 0.5s;
  }

  @keyframes slidein-#{$direction} {
    0%   { transform: #{$translation}; }
    100% { transform: none; }
  }

  @keyframes slideout-#{$direction} {
    100% {transform: #{$translation};}
  }
}

.anim-noMove-wiggle {
  animation-name: wiggle;
  animation-duration: 0.5s;
}

@keyframes wiggle {
  0%   { transform: translateX(20px); }
  20%  { transform: translateX(-20px);}
  40%  { transform: translateX(20px);}
  60%  { transform: translateX(-20px);}
  80%  { transform: translateX(20px);}
  100% { transform: translateX(-0px);}
}

.anim-select-rotate3D {
  animation-name: enter-rotate3D;
  animation-duration: 0.5s;
  transform-origin: center center $carousel-height/2;
}

@keyframes enter-rotate3D {
  0% {transform: rotateX(270deg);}
  100% {transform: rotateX(360deg);}
}

.anim-deselect-rotate3D {
  animation-name: exit-rotate3D;
  animation-duration: 0.5s;
  left:0px;
  transform-origin: center center $carousel-height/2;
}

@keyframes exit-rotate3D {
  0% {transform: rotateX(0deg)};
  100% {transform: rotateX(90deg);}
}
//
