.carouselContainer {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 60vh;
}
svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.carouselImage {
  position: absolute;
  width: 100%;
  height: 60vh;
  left: 100%;
}

.selected {
  left: 0px;
  z-index: 1;
}

.anim-noMove-hop {
  animation-name: hop;
  animation-duration: 0.5s;
}

@keyframes hop {
  0% {
    top: 0px;
  }
  50% {
    top: -30vh;
  }
  100% {
    top: 0px;
  }
}
.anim-noMove-wiggle {
  animation-name: wiggle;
  animation-duration: 0.5s;
}

@keyframes hop {
  0% {
    left: 0px;
  }
  20% {
    left: -20px;
  }
  40% {
    left: 20px;
  }
  60% {
    left: -20px;
  }
  80% {
    left: 20px;
  }
  100% {
    top: 0px;
  }
}
.anim-select-top {
  animation-name: slideInTop;
  animation-duration: 0.5s;
}

@keyframes slideInTop {
  0% {
    top: -60vh;
  }
  100% {
    top: 0px;
  }
}
.anim-select-right {
  animation-name: slideInRight;
  animation-duration: 0.5s;
}

@keyframes slideInRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0px;
  }
}
.anim-select-bottom {
  animation-name: slideInBottom;
  animation-duration: 0.5s;
}

@keyframes slideInBottom {
  0% {
    top: 60vh;
  }
  100% {
    top: 0px;
  }
}
.anim-select-left {
  animation-name: slideInLeft;
  animation-duration: 0.5s;
}

@keyframes slideInLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0px;
  }
}
.anim-deselect-top {
  animation-name: slideOutTop;
  animation-duration: 0.5s;
}

@keyframes slideOutTop {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: -100%;
    left: 0px;
  }
}
.anim-deselect-right {
  animation-name: slideOutRight;
  animation-duration: 0.5s;
}

@keyframes slideOutRight {
  0% {
    left: 0px;
  }
  100% {
    left: -100%;
  }
}
.anim-deselect-bottom {
  animation-name: slideOutBottom;
  animation-duration: 0.5s;
}

@keyframes slideOutBottom {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 100%;
    left: 0px;
  }
}
.anim-deselect-left {
  animation-name: slideOutLeft;
  animation-duration: 0.5s;
}

@keyframes slideOutLeft {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}
.anim-deselect-shrink {
  animation-name: shrink;
  animation-duration: 1s;
}

@keyframes shrink {
  0% {
    left: 0px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}
.anim-select-bigShrink {
  animation-name: bigShrink;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes bigShrink {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform: translate(-100%, 60vh);
    width: 200%;
    height: 120vh;
  }
  100% {
    left: 0px;
    width: 100%;
    height: 60vh;
  }
}
html, body {
  background-color: black;
}

.carousel1 .carouselContainer {
  border-radius: 0;
}
.carousel1 .buttons {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.carousel1 .paginationButton,
.carousel1 .leftButton,
.carousel1 .rightButton {
  width: 100px;
  height: 100px;
  color: red;
  background-color: white;
  border-radius: 20%;
  font-size: 50px;
  transition: 0.5s;
}
.carousel1 .paginationButton:hover,
.carousel1 .leftButton:hover,
.carousel1 .rightButton:hover {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(100, 100, 100, 0.5);
  border-width: 4px;
  transition: 0.5s;
}

.carousel2 .carouselContainer {
  border: 1px solid red;
  border-radius: 50%;
}
.carousel2 #path2 {
  fill: rgba(255, 0, 0, 0.5);
}
.carousel2 .paginationButton,
.carousel2 .leftButton,
.carousel2 .rightButton {
  width: 100px;
  height: 100px;
  color: red;
  background-color: white;
  border-radius: 20%;
  font-size: 50px;
  transition: 0.5s;
}
.carousel2 .paginationButton:hover,
.carousel2 .leftButton:hover,
.carousel2 .rightButton:hover {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(100, 100, 100, 0.5);
  border-width: 4px;
  transition: 0.5s;
}
.carousel2 .magicButton {
  position: relative;
  color: purple;
  background-color: green;
  border: 2px solid purple;
  border-radius: 5px;
  box-shadow: 0px 5px #885ead;
  padding: 10px;
  margin: 20px;
  width: 80%;
  height: 60px;
  transition: 0.2s;
}
.carousel2 .magicButton:hover {
  background-color: #7fff7f;
  transition: 0.2s;
}
.carousel2 .magicButton:active {
  transform: translateY(5px);
  box-shadow: none;
}
.carousel2 .buttons {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

/*# sourceMappingURL=index.css.map */
